@import '../../styles/colors.scss';

.hero{
    width: 100%;
    height: 100vh;
    // #tsparticles{
    //     width: 100%;
    //     height: 100%;
    // }
    .hero-content{
        position: absolute;
        display: grid;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & > .container{
            display: grid;
        }
    }
    .hero-text{
        align-self: end;
        justify-self: center;
        & > h1 {
            text-align: center;
        }
    }
    .hero-button{
        justify-self: center;
    }
    & > svg{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
    }
}