.about-me{
    display: grid;
    align-items: center;
    padding: 100px 0;
    @media screen and (min-width: 1024px) {
        min-height: 100vh;
        padding: 0;
    }
    & > .container{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 100px;
        row-gap: 30px;
        border-radius: 40px;
        padding: 50px;
        background: rgba(0, 0, 0, 0.04);
        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr;
            padding: 70px 105px;
        }
        @media screen and (min-width: 1440px) {
            padding: 90px 125px;
        }
    }
    .about-content-right{
        position: relative;
        & > img{
            width: 70%;
            &:first-child{
                position: relative;
                z-index: 1;
                -webkit-filter: drop-shadow(0 3px 80px rgba(0, 0, 0, 0.1));
                filter: drop-shadow(0 3px 80px rgba(0, 0, 0, 0.1));
            }
            &:last-child{
                position: absolute;
                right: 0;
                z-index: 0;
            }
        }
    }
}