.main-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    & > li{
        display: inline-block;
        margin-right: 55px;
        & > a{
            font-weight: bold;
            text-transform: uppercase;
        }
        &.lang-selector{
            & > a {
                font-weight: lighter;
                color: rgba(255, 255, 255, 0.5);
                &[aria-current] {
                    font-weight: bold;
                    color: white;
                 }
            }
        }
    }
}